{% extends 'base.html.twig' %}

{% block title %}{{ app_config.app_name}} : Connexion{% endblock %}
{% block nav %}{% endblock %} 
{% block banner %}{% endblock %} 
{% block main %}
<section id="main">
<div class="container" style="min-width:30%;max-width:80%" >
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Veuillez vous connecter</h1>
            <label for="inputUsername" class="sr-only">Login</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Identifiant" required autofocus>
            
            <label for="inputPassword" class="sr-only">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
            <br>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}

            <button class="btn btn-lg btn-primary" type="submit">
               Se connecter
            </button>
            <a href="{{path('user_add')}}" class="button alt" style="margin-top:0.5em" title="Voir">Créer un compte</a>
        </form>  
</section>
{% endblock %}