<section id="banner" style="background-image: url({{asset('images/overlay.png')}}), url({{asset("images/overlay.png")}}), url({{asset("images/banner.jpg")}});">
    <div class="content">
            <h2>Bienvenue {{ app.user.username }}</h2>
            <p>{{ bannerMessage }}</p>
            <a href="#main" class="button scrolly">C'est parti !</a>
    </div>
</section>