{% set currentPath = path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params'))|upper %}

<nav id="nav">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <ul>
        <li {% if currentPath == path('homepage')|upper %}{{ 'class="current"'}}{% endif %} ><a href="{{ path('homepage') }}">Accueil</a></li>
        <li {% if currentPath == path('publication_show_all')|upper %}{{ 'class="current"'}}{% endif %} ><a href="{{ path('publication_show_all')}}">Publications</a></li>
        <li {% if '/CONFIGURATION' in currentPath %}{{ 'class="opener current"'}}{% else %}{{ 'class="opener"' }}{% endif %} >
            {% if is_granted('ROLE_ADMIN') %}
            <a href="#">Configuration</a>
            <ul>
                    <li>
                        <a href="{{ path('publication_config_all') }}">Publications</a>
                        <ul>                                  
                            <li><a href="{{ path('publication_add')}}">Ajouter</a></li>
                        </ul>                             
                    </li>
                    <li>
                       <a href="{{ path('type_publication_config_all') }}">Catégories</a>
                        <ul>
                            <li><a href="{{ path('type_publication_add')}}">Ajouter</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ path('user_config_all') }}">Utilisateurs</a>
                        <ul>
                            <li><a href="{{ path('user_add') }}">Ajouter</a></li> 
                        </ul>
                    </li>
                    <li>
                        <a href="{{ path('user_update',{"id":app.user.id}) }}">Mon profil</a>
                        <ul>
                           <li><a href="{{ path('user_update_mdp',{"id":app.user.id}) }}">Changer mot de passe</a></li> 
                        </ul>
                    </li>
            </ul>
        </li>
        <li><a href="{{path('app_logout')}}">Se déconnecter</a></li>
        {% else%}
        <li {% if '/CONFIGURATION' in currentPath %}{{ 'class="opener current"'}}{% else %}{{ 'class="opener"' }}{% endif %} >
            <a href="#">Options</a>
            <ul>
                <li><a href="{{ path('user_update',{"id":app.user.id}) }}">Mon profil</a>
                    <ul>
                       <li><a href="{{ path('user_update_mdp',{"id":app.user.id}) }}">Changer mot de passe</a></li> 
                    </ul>
                </li>
            </ul>
        </li>  
        <li><a href="{{path('app_logout')}}">Se déconnecter</a></li>
        {% endif %}
    </ul>
    {% endif %}
</nav>
